<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./public/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Doodly</title>
</head>

<body>
    <header>
        <div class="spin">
            <!-- <h1>DOODLY</h1> -->
            <span style="--i:1">D</span>
            <span style="--i:2">O</span>
            <span style="--i:3">O</span>
            <span style="--i:4">D</span>
            <span style="--i:5">L</span>
            <span style="--i:6">Y</span>
        </div>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard" class="nav-btn">Dashboard</a>
            <span id="logout" class="nav-btn">Logout</span>
            {{else}}
            <a href="/login" class="nav-btn">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>

    </footer>
</body>

</html>