<section>
    <h2>Create New Post</h2>
    <div class="container">
        <div>
            <canvas id="canvas" width="600" height="500" style="display: block; margin: 0 auto;"></canvas>
        </div>
        <div id="post-div">
            <button id="clear" class="post-btns">clear</button>
            <button id="save" class="post-btns"> save </button>
            <button id="post" class="post-btns"> post </button>
            <input type="file" id="load" name="avatar" accept="image/png">
        </div>
    </div>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ul class="homepage">
        {{#each posts as |post|}}
        <li>
            {{> dashboard-info post }}
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}
