
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="login-form">
      <input class="un" type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <a class="submit" align="center">Sign in</a>
      {{!-- <p class="forgot" align="center"><a href="#">Forgot Password?</p> --}}
            
    <form class="signup-form">
    <div class="entry">
      <label for="username-signup">username: </label>
      <input type="text" id="username-signup" class="un" align="center"/>
    </div>
    <div class="entry">
      <label for="email-signup">email: </label>
      <input type="text" id="email-signup" />
    </div>
    <div class="entry">
      <label for="password-signup">password: </label>
      <input class="pass" type="text" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="form-btn">Sign Up</button>
    </div>
  </form>
</div>
            
    </div>
<script src="/javascript/login.js"></script>