
  <div class="main">
    <form class="login-form">
      <h3 class="sign" align="center">Sign in</h3>
      <input class="un" type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <btn class="submit" align="center">Sign in</btn>
    </form> 
           
    <form class="signup-form">
      <h3 class="sign" align="center">Sign Up</h3>
      <input type="text" id="username-signup" class="un" align="center" placeholder="Username"/>
      <input type="text" id="email-signup" class="un" placeholder="example@email.com"/>
      <input class="pass" type="password" id="password-signup" placeholder="Password"/>
    <div>
      <button type="submit" class="submit">Sign Up</button>
    </div>
  </form>
</div>
            
<script src="/javascript/login.js"></script>