* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    background-color: #fff;
}

h1 {
    font-size: 40px;
}

.spin {
    position: relative;
}

.spin span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #222;
    /* text-transform: uppercase; */
    animation: flip 3s infinite;
    animation-delay: calc(.4s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
}

.nav-btn {
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 6px;
    background-color: aqua;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.nav-btn:hover {
    color: aqua;
    background-color: #fff;
}

main {
    margin: 0 auto;
    width: 70%;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

article {
    margin: 2rem 1rem;
    display: flex;
    border: 1px solid #222;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}

#img {
    border: 1px solid black;
    height: 100%;
    background-color: #fff;
}

#post-info {
    padding: 1rem;
    background-color: #222;
    color: #fff;
}

#like {
    color: green;
    padding: 4px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 150%;
}

#like:hover {
    color: #fff;
    background-color: green;
}

#creator {
    font-size: 13px;
    margin-top: 0.5rem;
}

#canvas {
    border: 1px solid black;
    background-color: #fff;
}

#new-post-title {
    margin-top: 1em;
    text-align: center;
}

.details {
    margin: 1rem 2rem;
    width: 80%;
}

#post-div {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.post-btns {
    font-size: 20px;
    margin: 0 0.3rem;
    padding: 1px 10px;
    color: #fff;
    background-color: #222;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.post-btns:hover {
    color: #222;
    background-color: #fff;
}

input[type="file"] {
    display: none;
}

#load {
    font-size: 20px;
    margin: 0 0.3rem;
}

#delete {
    color: #fff;
    background-color: red;
    border-radius: 5px;
    padding: 0px 6px;
    cursor: pointer;
    margin: 0 0.5rem;
}

#delete:hover {
    color: red;
    background-color: #fff;
}